In [1]:
import pandas as pd

In [3]:
ranking_fifa = pd.read_csv("data/fifa_ranking-2022-10-06.csv")

In [27]:
ranking_fifa.tail()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,rank_month,rank_year,rank_day
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06,10,2022,6
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06,10,2022,6
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06,10,2022,6
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06,10,2022,6
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06,10,2022,6

In [9]:
ranking_fifa["rank_date"].dtype

dtype('<M8[ns]')

In [8]:
#transformando rank_date em data
ranking_fifa["rank_date"] = pd.to_datetime(ranking_fifa["rank_date"])

In [10]:
ranking_fifa["rank_month"] = ranking_fifa["rank_date"].dt.month

In [11]:
ranking_fifa["rank_year"] = ranking_fifa["rank_date"].dt.year

In [14]:
ranking_fifa["rank_day"] = ranking_fifa["rank_date"].dt.day

In [17]:
ranking_fifa["rank_month"].unique()

array([12,  8,  9, 10, 11,  2,  3,  4,  5,  6,  7,  1], dtype=int64)

vamos selecionar a posição no ranking das seleções no periodo da copa do mundo.

sendo assim, vamos pegar apenas os dados no periodo de copas, anos - 1994, 98, 02, 06, 10, 14 e 18

In [22]:
ranking_fifa = ranking_fifa[(ranking_fifa["rank_year"] == 1994) | (ranking_fifa["rank_year"] == 1998) | (ranking_fifa["rank_year"] == 2002) | (ranking_fifa["rank_year"] == 2006) |
(ranking_fifa["rank_year"] == 2010) | (ranking_fifa["rank_year"] == 2014) | (ranking_fifa["rank_year"] == 2018) | (ranking_fifa["rank_year"] == 2022)]

Agora, vamos filtrar os dados somente no periodo de vespera do inicio da copa do mundo, na média, o mês 5 seria interessante.

In [31]:
ranking_fifa_eve_cup = ranking_fifa[(ranking_fifa["rank_month"] == 6)|(ranking_fifa["rank_month"] == 5)]

In [32]:
ranking_fifa_eve_cup.tail()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,rank_month,rank_year,rank_day
63489,137,Solomon Islands,SOL,1092.56,1092.56,0,OFC,2022-06-23,6,2022,23
63490,136,Rwanda,RWA,1095.04,1097.16,0,CAF,2022-06-23,6,2022,23
63491,135,Turkmenistan,TKM,1100.47,1117.60,1,AFC,2022-06-23,6,2022,23
63492,159,Singapore,SGP,1004.75,1012.27,1,AFC,2022-06-23,6,2022,23
63493,1,Brazil,BRA,1837.56,1832.69,0,CONMEBOL,2022-06-23,6,2022,23

In [33]:
ranking_fifa_eve_cup.rank_year.unique()

array([1994, 1998, 2002, 2006, 2010, 2014, 2018, 2022], dtype=int64)

In [34]:
ranking_fifa_eve_cup.to_csv(r"data/ranking_fifa_eve_cup.csv",
                     index = False, 
                   header = True)