## Importando bibliotecas necessárias

In [3]:
import pandas as pd
import json
import numpy as np


#Conexão com o MongoDb
from pymongo import MongoClient

## Conexão com mongoDB e abrindo arquivos salvos

In [459]:
#conectando ao mongoDB
client = MongoClient("mongodb+srv://pastoril:pastoril10@cluster0.sq1fn1z.mongodb.net/?retryWrites=true&w=majority")

#Conectando ao banco de dados copas do mundo
db = client.get_database("copasdomundo_db")

jogos_recentes_db = db.jogos_recentes_db

# Tratamento de dados

## Importando dados do BD

In [581]:
jogos = pd.DataFrame(list(jogos_recentes_db.find()))

In [582]:
jogos.head()

,_id,times_home,score_home,times_away,score_away,event_date
0,638f6704c1ba7da690c23ec4,Argentina,2,Austrália,1,03.12.2022
1,638f6704c1ba7da690c23ec5,Polônia,0,Argentina,2,30.11.2022
2,638f6704c1ba7da690c23ec6,Argentina,2,México,0,26.11.2022
3,638f6704c1ba7da690c23ec7,Argentina,1,Arábia Saudita,2,22.11.2022
4,638f6704c1ba7da690c23ec8,Emirados Árabes Unidos,0,Argentina,5,16.11.2022

### Tratando datas de jogos

In [ ]:
# from datetime import datetime

In [589]:
jogos["event_date"].unique()

array(['2022-12-03T00:00:00.000000000', '2022-11-30T00:00:00.000000000',
       '2022-11-26T00:00:00.000000000', '2022-11-22T00:00:00.000000000',
       '2022-11-16T00:00:00.000000000', '2022-09-27T00:00:00.000000000',
       '2022-09-23T00:00:00.000000000', '2022-06-05T00:00:00.000000000',
       '2022-06-01T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-03-25T00:00:00.000000000', '2022-02-01T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2021-11-16T00:00:00.000000000',
       '2021-11-12T00:00:00.000000000', '2021-10-14T00:00:00.000000000',
       '2021-10-10T00:00:00.000000000', '2021-10-07T00:00:00.000000000',
       '2021-09-09T00:00:00.000000000', '2021-09-02T00:00:00.000000000',
       '2021-07-10T00:00:00.000000000', '2022-07-06T00:00:00.000000000',
       '2021-07-03T00:00:00.000000000', '2021-06-28T00:00:00.000000000',
       '2021-06-21T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2021-06-14T00:00:00.000000000', '2021-06-08T00:00:00.000000000',
       '2021-06-03T00:00:00.000000000', '2020-11-17T00:00:00.000000000',
       '2020-11-12T00:00:00.000000000', '2020-10-13T00:00:00.000000000',
       '2020-10-08T00:00:00.000000000', '2019-11-18T00:00:00.000000000',
       '2019-11-15T00:00:00.000000000', '2019-10-13T00:00:00.000000000',
       '2019-10-09T00:00:00.000000000', '2019-09-10T00:00:00.000000000',
       '2019-09-05T00:00:00.000000000', '2019-07-06T00:00:00.000000000',
       '2019-07-02T00:00:00.000000000', '2019-06-28T00:00:00.000000000',
       '2019-06-23T00:00:00.000000000', '2019-06-19T00:00:00.000000000',
       '2019-06-15T00:00:00.000000000', '2019-06-07T00:00:00.000000000',
       '2019-03-26T00:00:00.000000000', '2019-03-22T00:00:00.000000000',
       '2018-11-20T00:00:00.000000000', '2018-11-16T00:00:00.000000000',
       '2018-10-16T00:00:00.000000000', '2018-10-11T00:00:00.000000000',
       '2018-09-11T00:00:00.000000000', '2018-09-08T00:00:00.000000000',
       '2018-06-30T00:00:00.000000000', '2018-06-26T00:00:00.000000000',
       '2018-06-21T00:00:00.000000000', '2018-06-16T00:00:00.000000000',
       '2018-05-29T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2018-03-23T00:00:00.000000000', '2017-11-14T00:00:00.000000000',
       '2017-11-11T00:00:00.000000000', '2017-10-10T00:00:00.000000000',
       '2017-10-05T00:00:00.000000000', '2017-09-05T00:00:00.000000000',
       '2017-08-31T00:00:00.000000000', '2017-06-13T00:00:00.000000000',
       '2017-06-09T00:00:00.000000000', '2017-03-28T00:00:00.000000000',
       '2017-03-23T00:00:00.000000000', '2016-11-15T00:00:00.000000000',
       '2016-11-10T00:00:00.000000000', '2016-10-11T00:00:00.000000000',
       '2016-10-06T00:00:00.000000000', '2016-09-06T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2022-06-26T00:00:00.000000000',
       '2016-06-21T00:00:00.000000000', '2016-06-18T00:00:00.000000000',
       '2022-11-10T00:00:00.000000000', '2022-11-06T00:00:00.000000000',
       '2022-10-30T00:00:00.000000000', '2022-10-26T00:00:00.000000000',
       '2022-10-22T00:00:00.000000000', '2022-06-09T00:00:00.000000000',
       '2022-03-24T00:00:00.000000000', '2021-12-07T00:00:00.000000000',
       '2021-12-04T00:00:00.000000000', '2021-12-01T00:00:00.000000000',
       '2021-11-11T00:00:00.000000000', '2021-10-12T00:00:00.000000000',
       '2021-09-07T00:00:00.000000000', '2021-06-15T00:00:00.000000000',
       '2021-06-11T00:00:00.000000000', '2021-06-05T00:00:00.000000000',
       '2021-03-30T00:00:00.000000000', '2021-03-25T00:00:00.000000000',
       '2020-11-14T00:00:00.000000000', '2019-12-08T00:00:00.000000000',
       '2019-12-05T00:00:00.000000000', '2019-12-02T00:00:00.000000000',
       '2019-11-30T00:00:00.000000000', '2019-11-27T00:00:00.000000000',
       '2019-11-19T00:00:00.000000000', '2019-11-14T00:00:00.000000000',
       '2019-10-15T00:00:00.000000000', '2019-10-10T00:00:00.000000000',
       '2019-08-10T00:00:00.000000000', '2019-08-07T00:00:00.000000000',
       '2019-08-04T00:00:00.000000000', '2019-03-25T00:00:00.000000000',
       '2019-03-21T00:00:00.000000000', '2019-01-21T00:00:00.000000000',
       '2019-01-17T00:00:00.000000000', '2019-01-12T00:00:00.000000000',
       '2019-01-08T00:00:00.000000000', '2018-12-31T00:00:00.000000000',
       '2018-10-15T00:00:00.000000000', '2018-10-12T00:00:00.000000000',
       '2018-09-10T00:00:00.000000000', '2018-06-25T00:00:00.000000000',
       '2018-06-20T00:00:00.000000000', '2018-06-14T00:00:00.000000000',
       '2018-06-08T00:00:00.000000000', '2018-06-03T00:00:00.000000000',
       '2018-05-28T00:00:00.000000000', '2018-05-15T00:00:00.000000000',
       '2018-05-09T00:00:00.000000000', '2018-02-28T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2017-12-28T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2017-11-10T00:00:00.000000000',
       '2017-11-07T00:00:00.000000000', '2017-10-07T00:00:00.000000000',
       '2022-09-25T00:00:00.000000000', '2022-09-22T00:00:00.000000000',
       '2022-06-13T00:00:00.000000000', '2022-06-07T00:00:00.000000000',
       '2021-06-07T00:00:00.000000000', '2019-01-25T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2019-01-15T00:00:00.000000000',
       '2019-01-11T00:00:00.000000000', '2019-01-06T00:00:00.000000000',
       '2018-12-30T00:00:00.000000000', '2018-11-17T00:00:00.000000000',
       '2018-06-09T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2017-11-15T00:00:00.000000000', '2022-10-10T00:00:00.000000000',
       '2017-06-25T00:00:00.000000000', '2017-06-22T00:00:00.000000000',
       '2017-06-19T00:00:00.000000000', '2017-06-08T00:00:00.000000000',
       '2016-06-07T00:00:00.000000000', '2016-06-04T00:00:00.000000000',
       '2016-05-27T00:00:00.000000000', '2016-03-29T00:00:00.000000000',
       '2016-03-24T00:00:00.000000000', '2015-11-17T00:00:00.000000000',
       '2015-11-12T00:00:00.000000000', '2015-10-08T00:00:00.000000000',
       '2015-09-08T00:00:00.000000000', '2015-09-03T00:00:00.000000000',
       '2015-06-16T00:00:00.000000000', '2015-03-30T00:00:00.000000000',
       '2015-03-25T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2015-01-27T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-17T00:00:00.000000000', '2015-01-13T00:00:00.000000000',
       '2022-12-01T00:00:00.000000000', '2022-11-27T00:00:00.000000000',
       '2022-11-23T00:00:00.000000000', '2022-11-18T00:00:00.000000000',
       '2022-06-14T00:00:00.000000000', '2022-06-11T00:00:00.000000000',
       '2022-06-08T00:00:00.000000000', '2022-06-03T00:00:00.000000000',
       '2022-03-26T00:00:00.000000000', '2021-11-13T00:00:00.000000000',
       '2021-09-08T00:00:00.000000000', '2021-09-05T00:00:00.000000000',
       '2021-07-02T00:00:00.000000000', '2021-06-27T00:00:00.000000000',
       '2021-06-17T00:00:00.000000000', '2021-06-12T00:00:00.000000000',
       '2021-06-06T00:00:00.000000000', '2021-03-27T00:00:00.000000000',
       '2021-03-24T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2020-11-11T00:00:00.000000000',
       '2020-10-14T00:00:00.000000000', '2020-10-11T00:00:00.000000000',
       '2020-09-08T00:00:00.000000000', '2020-09-05T00:00:00.000000000',
       '2019-11-16T00:00:00.000000000', '2019-09-09T00:00:00.000000000',
       '2019-09-06T00:00:00.000000000', '2019-06-11T00:00:00.000000000',
       '2019-06-08T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2018-11-18T00:00:00.000000000', '2018-11-15T00:00:00.000000000',
       '2018-09-07T00:00:00.000000000', '2018-07-14T00:00:00.000000000',
       '2018-07-10T00:00:00.000000000', '2018-07-06T00:00:00.000000000',
       '2018-07-02T00:00:00.000000000', '2018-06-28T00:00:00.000000000',
       '2018-06-23T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2018-06-11T00:00:00.000000000', '2018-06-06T00:00:00.000000000',
       '2018-06-02T00:00:00.000000000', '2017-09-03T00:00:00.000000000',
       '2017-06-05T00:00:00.000000000', '2017-03-25T00:00:00.000000000',
       '2016-11-13T00:00:00.000000000', '2016-11-09T00:00:00.000000000',
       '2016-10-10T00:00:00.000000000', '2016-10-07T00:00:00.000000000',
       '2022-11-29T00:00:00.000000000', '2022-11-25T00:00:00.000000000',
       '2022-11-20T00:00:00.000000000', '2022-11-09T00:00:00.000000000',
       '2022-11-05T00:00:00.000000000', '2022-10-27T00:00:00.000000000',
       '2022-10-23T00:00:00.000000000', '2022-09-20T00:00:00.000000000',
       '2022-08-27T00:00:00.000000000', '2022-08-26T00:00:00.000000000',
       '2022-08-23T00:00:00.000000000', '2022-08-20T00:00:00.000000000',
       '2022-08-03T00:00:00.000000000', '2022-07-30T00:00:00.000000000',
       '2022-07-24T00:00:00.000000000', '2022-07-19T00:00:00.000000000',
       '2022-07-09T00:00:00.000000000', '2022-12-18T00:00:00.000000000',
       '2021-12-15T00:00:00.000000000', '2021-12-10T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-03T00:00:00.000000000',
       '2021-11-30T00:00:00.000000000', '2021-11-14T00:00:00.000000000',
       '2021-10-09T00:00:00.000000000', '2021-09-04T00:00:00.000000000',
       '2021-09-01T00:00:00.000000000', '2021-07-29T00:00:00.000000000',
       '2021-07-24T00:00:00.000000000', '2021-07-20T00:00:00.000000000',
       '2021-07-17T00:00:00.000000000', '2021-07-13T00:00:00.000000000',
       '2021-07-04T00:00:00.000000000', '2021-06-30T00:00:00.000000000',
       '2020-12-04T00:00:00.000000000', '2020-11-13T00:00:00.000000000',
       '2020-10-12T00:00:00.000000000', '2019-11-29T00:00:00.000000000',
       '2019-11-26T00:00:00.000000000', '2019-06-16T00:00:00.000000000',
       '2019-06-05T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-01-29T00:00:00.000000000', '2019-01-22T00:00:00.000000000',
       '2019-01-13T00:00:00.000000000', '2019-01-09T00:00:00.000000000',
       '2018-12-27T00:00:00.000000000', '2018-12-25T00:00:00.000000000',
       '2018-12-23T00:00:00.000000000', '2018-11-19T00:00:00.000000000',
       '2018-11-14T00:00:00.000000000', '2022-11-12T00:00:00.000000000',
       '2022-06-02T00:00:00.000000000', '2021-10-27T00:00:00.000000000',
       '2021-06-23T00:00:00.000000000', '2021-06-20T00:00:00.000000000',
       '2021-06-13T00:00:00.000000000', '2021-06-04T00:00:00.000000000',
       '2021-03-29T00:00:00.000000000', '2019-06-24T00:00:00.000000000',
       '2019-06-21T00:00:00.000000000', '2019-06-09T00:00:00.000000000',
       '2019-06-01T00:00:00.000000000', '2017-07-26T00:00:00.000000000',
       '2017-02-22T00:00:00.000000000', '2016-06-16T00:00:00.000000000',
       '2016-06-12T00:00:00.000000000', '2016-06-08T00:00:00.000000000',
       '2016-05-25T00:00:00.000000000', '2015-10-13T00:00:00.000000000',
       '2010-10-17T00:00:00.000000000', '2010-10-15T00:00:00.000000000',
       '2010-10-13T00:00:00.000000000', '2008-10-27T00:00:00.000000000',
       '2008-10-25T00:00:00.000000000', '2008-10-24T00:00:00.000000000',
       '2008-10-23T00:00:00.000000000', '2008-07-31T00:00:00.000000000',
       '2008-07-27T00:00:00.000000000', '2008-06-22T00:00:00.000000000',
       '2008-06-15T00:00:00.000000000', '2008-06-09T00:00:00.000000000',
       '2008-03-26T00:00:00.000000000', '2008-02-06T00:00:00.000000000',
       '2006-09-10T00:00:00.000000000', '2006-09-08T00:00:00.000000000',
       '2006-09-06T00:00:00.000000000', '2004-06-19T00:00:00.000000000',
       '2004-06-12T00:00:00.000000000', '2004-03-31T00:00:00.000000000',
       '2004-02-18T00:00:00.000000000', '2002-11-21T00:00:00.000000000',
       '2002-11-19T00:00:00.000000000', '2002-08-11T00:00:00.000000000',
       '2002-07-28T00:00:00.000000000', '2000-03-17T00:00:00.000000000',
       '2000-03-03T00:00:00.000000000', '1996-05-10T00:00:00.000000000',
       '1996-05-03T00:00:00.000000000', '1992-04-25T00:00:00.000000000',
       '1992-04-18T00:00:00.000000000', '1988-10-15T00:00:00.000000000',
       '1988-09-30T00:00:00.000000000', '2022-07-28T00:00:00.000000000',
       '1988-06-18T00:00:00.000000000', '1984-10-05T00:00:00.000000000',
       '1984-09-28T00:00:00.000000000', '1980-12-11T00:00:00.000000000',
       '1980-11-28T00:00:00.000000000', '1980-11-08T00:00:00.000000000',
       '1980-09-17T00:00:00.000000000', '1976-08-13T00:00:00.000000000',
       '1976-07-29T00:00:00.000000000', '1973-12-16T00:00:00.000000000',
       '1973-12-11T00:00:00.000000000', '1973-12-07T00:00:00.000000000',
       '1973-12-04T00:00:00.000000000', '1973-11-30T00:00:00.000000000',
       '1968-12-15T00:00:00.000000000', '1968-12-12T00:00:00.000000000',
       '1968-12-05T00:00:00.000000000', '1968-11-24T00:00:00.000000000',
       '1965-02-03T00:00:00.000000000', '1965-01-30T00:00:00.000000000',
       '1965-01-23T00:00:00.000000000', '1965-01-20T00:00:00.000000000',
       '1961-05-21T00:00:00.000000000', '1961-04-23T00:00:00.000000000',
       '1961-04-05T00:00:00.000000000', '1961-03-29T00:00:00.000000000',
       '1960-10-27T00:00:00.000000000', '1960-10-02T00:00:00.000000000',
       '1957-08-04T00:00:00.000000000', '1957-03-14T00:00:00.000000000',
       '1957-03-03T00:00:00.000000000', '2022-12-04T00:00:00.000000000',
       '2022-11-21T00:00:00.000000000', '2022-09-24T00:00:00.000000000',
       '2022-09-02T00:00:00.000000000', '2022-07-17T00:00:00.000000000',
       '2022-07-15T00:00:00.000000000', '2022-07-13T00:00:00.000000000',
       '2022-06-04T00:00:00.000000000', '2022-02-06T00:00:00.000000000',
       '2022-02-02T00:00:00.000000000', '2022-01-30T00:00:00.000000000',
       '2022-01-25T00:00:00.000000000', '2022-01-18T00:00:00.000000000',
       '2022-01-14T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-07-18T00:00:00.000000000', '2022-07-16T00:00:00.000000000',
       '2021-07-14T00:00:00.000000000', '2021-07-09T00:00:00.000000000',
       '2021-07-07T00:00:00.000000000', '2021-03-26T00:00:00.000000000',
       '2020-10-09T00:00:00.000000000', '2019-11-17T00:00:00.000000000',
       '2019-11-13T00:00:00.000000000', '2022-10-20T00:00:00.000000000',
       '2022-10-13T00:00:00.000000000', '2019-10-03T00:00:00.000000000',
       '2019-09-28T00:00:00.000000000', '2019-09-21T00:00:00.000000000',
       '2019-08-03T00:00:00.000000000', '2019-07-28T00:00:00.000000000',
       '2019-07-19T00:00:00.000000000', '2022-07-14T00:00:00.000000000',
       '2019-07-10T00:00:00.000000000', '2019-07-05T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-06-27T00:00:00.000000000',
       '2019-03-23T00:00:00.000000000', '2018-10-13T00:00:00.000000000',
       '2018-09-09T00:00:00.000000000', '2018-06-24T00:00:00.000000000',
       '2018-06-19T00:00:00.000000000', '2018-05-31T00:00:00.000000000',
       '2022-09-26T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-07-11T00:00:00.000000000', '2021-06-29T00:00:00.000000000',
       '2021-06-22T00:00:00.000000000', '2021-06-02T00:00:00.000000000',
       '2021-03-31T00:00:00.000000000', '2021-03-28T00:00:00.000000000',
       '2019-10-14T00:00:00.000000000', '2019-10-11T00:00:00.000000000',
       '2019-09-07T00:00:00.000000000', '2019-06-06T00:00:00.000000000',
       '2018-07-11T00:00:00.000000000', '2018-07-07T00:00:00.000000000',
       '2018-07-03T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2017-10-08T00:00:00.000000000', '2017-09-04T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2017-06-10T00:00:00.000000000',
       '2017-03-26T00:00:00.000000000', '2017-03-22T00:00:00.000000000',
       '2016-11-11T00:00:00.000000000', '2016-10-08T00:00:00.000000000',
       '2022-06-10T00:00:00.000000000', '2022-03-30T00:00:00.000000000',
       '2022-03-27T00:00:00.000000000', '2021-12-18T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2021-08-01T00:00:00.000000000',
       '2021-07-25T00:00:00.000000000', '2021-07-18T00:00:00.000000000',
       '2021-07-15T00:00:00.000000000', '2021-06-09T00:00:00.000000000',
       '2021-05-30T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2020-12-09T00:00:00.000000000', '2020-11-16T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2019-07-07T00:00:00.000000000',
       '2019-07-03T00:00:00.000000000', '2019-06-30T00:00:00.000000000',
       '2019-06-26T00:00:00.000000000', '2019-06-22T00:00:00.000000000',
       '2019-06-18T00:00:00.000000000', '2019-02-02T00:00:00.000000000',
       '2019-01-27T00:00:00.000000000', '2018-01-29T00:00:00.000000000',
       '2017-10-06T00:00:00.000000000', '2017-07-22T00:00:00.000000000',
       '2017-07-19T00:00:00.000000000', '2017-07-15T00:00:00.000000000',
       '2022-06-12T00:00:00.000000000', '2019-01-28T00:00:00.000000000',
       '2019-01-24T00:00:00.000000000', '2019-01-20T00:00:00.000000000',
       '2019-01-16T00:00:00.000000000', '2019-01-07T00:00:00.000000000',
       '2018-12-24T00:00:00.000000000', '2018-06-15T00:00:00.000000000',
       '2018-05-19T00:00:00.000000000', '2018-03-17T00:00:00.000000000',
       '2017-11-09T00:00:00.000000000', '2017-06-12T00:00:00.000000000',
       '2017-06-04T00:00:00.000000000', '2017-03-18T00:00:00.000000000',
       '2016-06-02T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-08T00:00:00.000000000', '2021-06-26T00:00:00.000000000',
       '2021-06-16T00:00:00.000000000', '2020-09-06T00:00:00.000000000',
       '2020-09-03T00:00:00.000000000', '2019-03-20T00:00:00.000000000',
       '2018-09-06T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2017-10-09T00:00:00.000000000',
       '2017-09-02T00:00:00.000000000', '2017-06-11T00:00:00.000000000',
       '2017-03-24T00:00:00.000000000', '2016-11-12T00:00:00.000000000',
       '2016-10-09T00:00:00.000000000', '2016-09-05T00:00:00.000000000',
       '2016-07-06T00:00:00.000000000', '2016-07-01T00:00:00.000000000',
       '2016-06-25T00:00:00.000000000', '2016-06-20T00:00:00.000000000',
       '2016-06-11T00:00:00.000000000', '2016-06-05T00:00:00.000000000',
       '2016-03-28T00:00:00.000000000', '2015-11-13T00:00:00.000000000',
       '2015-10-10T00:00:00.000000000', '2015-09-06T00:00:00.000000000',
       '2021-06-19T00:00:00.000000000', '2021-06-01T00:00:00.000000000',
       '2020-10-07T00:00:00.000000000', '2020-09-07T00:00:00.000000000',
       '2020-09-04T00:00:00.000000000', '2019-06-10T00:00:00.000000000',
       '2018-10-14T00:00:00.000000000', '2018-06-12T00:00:00.000000000',
       '2016-11-14T00:00:00.000000000', '2016-09-04T00:00:00.000000000',
       '2016-06-30T00:00:00.000000000', '2016-06-06T00:00:00.000000000',
       '2016-06-01T00:00:00.000000000', '2022-08-31T00:00:00.000000000',
       '2022-05-28T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-02-03T00:00:00.000000000', '2021-12-09T00:00:00.000000000',
       '2021-05-29T00:00:00.000000000', '2020-09-30T00:00:00.000000000',
       '2019-10-02T00:00:00.000000000', '2019-06-29T00:00:00.000000000',
       '2018-06-27T00:00:00.000000000', '2018-06-17T00:00:00.000000000',
       '2022-06-06T00:00:00.000000000', '2019-10-12T00:00:00.000000000',
       '2019-09-08T00:00:00.000000000', '2018-09-05T00:00:00.000000000',
       '2018-07-01T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-11T00:00:00.000000000', '2017-06-06T00:00:00.000000000',
       '2016-08-31T00:00:00.000000000', '2016-06-03T00:00:00.000000000',
       '2019-06-02T00:00:00.000000000', '2018-07-15T00:00:00.000000000',
       '2017-06-02T00:00:00.000000000', '2022-01-29T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-01-16T00:00:00.000000000', '2022-01-12T00:00:00.000000000',
       '2021-09-03T00:00:00.000000000', '2019-10-20T00:00:00.000000000',
       '2019-07-17T00:00:00.000000000', '2019-07-14T00:00:00.000000000',

*Tratando algumas datas e placaras que foram para os penaltis*

In [584]:
jogos["event_date"][957] = '24.03.2022'
jogos["score_home"][957] = 0
jogos["score_away"][957] = 0
jogos["event_date"][1425] = '06.12.2022'
jogos["event_date"][1665] = '06.12.2022'
jogos["score_home"][1425] = 0
jogos["score_home"][1665] = 0
jogos["event_date"][1745] = '05.12.2022'
jogos["score_away"][1745] = 0
jogos["event_date"][1679] = '30.01.2022'
jogos["event_date"][2075] = '29.03.2022'
jogos["event_date"][2077] = '05.02.2022'
jogos["score_away"][2077] = 3
jogos["event_date"][2078] = '03.02.2022'
jogos["score_away"][2078] = 0
jogos["event_date"][2311] = '03.09.2022'
jogos["score_away"][2311] = 0
jogos["event_date"][2316] = '14.06.2022'
jogos["score_home"][2316] = 0

In [585]:
jogos["event_date"] = jogos["event_date"].apply(lambda x: x.replace(" ", ""))
jogos["event_date"] = jogos["event_date"].apply(lambda x: x.replace(":", ""))
jogos["event_date"] = pd.to_datetime(jogos["event_date"], format = "%d.%m.%Y")
# jogos["event_date"] = datetime.strptime(jogos["event_date"], "%d.%m.%Y").date()
# jogos["event_date"] = jogos["event_date"].apply(lambda x: datetime.strptime(x, "%d.%m.%Y").date())

In [587]:
jogos["event_year"] = jogos["event_date"].dt.year
jogos["event_month"] = jogos["event_date"].dt.month
jogos["event_monthofname"] = jogos["event_date"].dt.month_name()
jogos["event_dayofname"] = jogos["event_date"].dt.day_name()

In [588]:
jogos.head(20)

,_id,times_home,score_home,times_away,score_away,event_date,event_year,event_month,event_monthofname,event_dayofname
0,638f6704c1ba7da690c23ec4,Argentina,2,Austrália,1,2022-12-03,2022,12,December,Saturday
1,638f6704c1ba7da690c23ec5,Polônia,0,Argentina,2,2022-11-30,2022,11,November,Wednesday
2,638f6704c1ba7da690c23ec6,Argentina,2,México,0,2022-11-26,2022,11,November,Saturday
3,638f6704c1ba7da690c23ec7,Argentina,1,Arábia Saudita,2,2022-11-22,2022,11,November,Tuesday
4,638f6704c1ba7da690c23ec8,Emirados Árabes Unidos,0,Argentina,5,2022-11-16,2022,11,November,Wednesday
5,638f6704c1ba7da690c23ec9,Argentina,3,Jamaica,0,2022-09-27,2022,9,September,Tuesday
6,638f6704c1ba7da690c23eca,Argentina,3,Honduras,0,2022-09-23,2022,9,September,Friday
7,638f6704c1ba7da690c23ecb,Argentina,5,Estônia,0,2022-06-05,2022,6,June,Sunday
8,638f6704c1ba7da690c23ecc,Itália,0,Argentina,3,2022-06-01,2022,6,June,Wednesday
9,638f6704c1ba7da690c23ecd,Equador,1,Argentina,1,2022-03-29,2022,3,March,Tuesday
10,638f6704c1ba7da690c23ece,Argentina,3,Venezuela,0,2022-03-25,2022,3,March,Friday
11,638f6704c1ba7da690c23ecf,Argentina,1,Colômbia,0,2022-02-01,2022,2,February,Tuesday
12,638f6704c1ba7da690c23ed0,Chile,1,Argentina,2,2022-01-27,2022,1,January,Thursday
13,638f6704c1ba7da690c23ed1,Argentina,0,Brasil,0,2021-11-16,2021,11,November,Tuesday
14,638f6704c1ba7da690c23ed2,Uruguai,0,Argentina,1,2021-11-12,2021,11,November,Friday
15,638f6704c1ba7da690c23ed3,Argentina,1,Peru,0,2021-10-14,2021,10,October,Thursday
16,638f6704c1ba7da690c23ed4,Argentina,3,Uruguai,0,2021-10-10,2021,10,October,Sunday
17,638f6704c1ba7da690c23ed5,Paraguai,0,Argentina,0,2021-10-07,2021,10,October,Thursday
18,638f6704c1ba7da690c23ed6,Argentina,3,Bolívia,0,2021-09-09,2021,9,September,Thursday
19,638f6704c1ba7da690c23ed7,Venezuela,1,Argentina,3,2021-09-02,2021,9,September,Thursday

### Excluindo dados duplicados

In [591]:
jogos.drop(columns=["_id"], inplace = True)

In [593]:
jogos.duplicated().sum()

452

In [592]:
jogos[jogos.duplicated() == True]

,times_home,score_home,times_away,score_away,event_date,event_year,event_month,event_monthofname,event_dayofname
82,Argentina,1,Arábia Saudita,2,2022-11-22,2022,11,November,Tuesday
160,Argentina,2,Austrália,1,2022-12-03,2022,12,December,Saturday
169,Arábia Saudita,1,Austrália,0,2022-03-29,2022,3,March,Tuesday
174,Austrália,0,Arábia Saudita,0,2021-11-11,2021,11,November,Thursday
303,Bélgica,4,Arábia Saudita,0,2018-03-27,2018,3,March,Tuesday
...,...,...,...,...,...,...,...,...,...
2540,Países Baixos,1,Bélgica,1,2016-11-09,2016,11,November,Wednesday
2541,Gibraltar,0,Bélgica,6,2016-10-10,2016,10,October,Monday
2542,Bélgica,4,Bósnia e Herzegovina,0,2016-10-07,2016,10,October,Friday
2543,Chipre,0,Bélgica,3,2016-09-06,2016,9,September,Tuesday
2544,Bélgica,0,Espanha,2,2016-09-01,2016,9,September,Thursday

In [594]:
jogos.drop_duplicates(inplace = True, )
jogos.reset_index(drop = ["index"], inplace = True)

In [595]:
jogos.shape

(2093, 9)

In [596]:
jogos.head()

,times_home,score_home,times_away,score_away,event_date,event_year,event_month,event_monthofname,event_dayofname
0,Argentina,2,Austrália,1,2022-12-03,2022,12,December,Saturday
1,Polônia,0,Argentina,2,2022-11-30,2022,11,November,Wednesday
2,Argentina,2,México,0,2022-11-26,2022,11,November,Saturday
3,Argentina,1,Arábia Saudita,2,2022-11-22,2022,11,November,Tuesday
4,Emirados Árabes Unidos,0,Argentina,5,2022-11-16,2022,11,November,Wednesday

### Criando feature vencedor

In [603]:
#função para encontrar o time winner
def procura_winner(df):
    if(int(df['score_home']) == int(df['score_away'])):
        df['winner'] = "drow"
    elif(int(df['score_home']) > int(df['score_away'])):
        df['winner'] = "times_home"
    else:
        df['winner'] = "times_away"
    return df

In [604]:
jogos = jogos.apply(procura_winner, axis='columns')

In [605]:
jogos.head(10)

,times_home,score_home,times_away,score_away,event_date,event_year,event_month,event_monthofname,event_dayofname,winner
0,Argentina,2,Austrália,1,2022-12-03,2022,12,December,Saturday,times_home
1,Polônia,0,Argentina,2,2022-11-30,2022,11,November,Wednesday,times_away
2,Argentina,2,México,0,2022-11-26,2022,11,November,Saturday,times_home
3,Argentina,1,Arábia Saudita,2,2022-11-22,2022,11,November,Tuesday,times_away
4,Emirados Árabes Unidos,0,Argentina,5,2022-11-16,2022,11,November,Wednesday,times_away
5,Argentina,3,Jamaica,0,2022-09-27,2022,9,September,Tuesday,times_home
6,Argentina,3,Honduras,0,2022-09-23,2022,9,September,Friday,times_home
7,Argentina,5,Estônia,0,2022-06-05,2022,6,June,Sunday,times_home
8,Itália,0,Argentina,3,2022-06-01,2022,6,June,Wednesday,times_away
9,Equador,1,Argentina,1,2022-03-29,2022,3,March,Tuesday,drow